In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.3.1

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head(4)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736

In [5]:
print(len(df))

9704

In [6]:
unique_fueltypes = df['fuel_type']
unique_fueltypes.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [7]:
uf2 = set(df['fuel_type'])
print(uf2)

{'Diesel', 'Gasoline'}

In [8]:
# columns in df 
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [9]:
# Identify columns with any missing values
columns_with_missing_values = df.isnull().any()
print("Boolean Series of columns with missing values:\n", columns_with_missing_values)

# Get the names of columns with missing values
missing_column_names = df.columns[df.isnull().any()].tolist()
print("\nNames of columns with missing values:", missing_column_names)

Boolean Series of columns with missing values:
 engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

Names of columns with missing values: ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

In [10]:
# What's the maximum fuel efficiency of cars from Asia?
filtered_df_city = df[df['origin'] == 'Asia']
max_value = filtered_df_city['fuel_efficiency_mpg'].max()
max_value

np.float64(23.759122836520497)

In [17]:
#Q6 
# Find the median value of horsepower column in the dataset.
# Next, calculate the most frequent value of the same horsepower column.
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
# Now, calculate the median value of horsepower once again.

#df['horsepower'].tolist()

df['horsepower'].to_numpy()

array([159.,  97.,  78., ..., 138., 177., 140.], shape=(9704,))

In [27]:
df['horsepower'].median() #149.0

np.float64(149.0)

In [39]:
category_frequencies = df['horsepower'].value_counts()
print(category_frequencies.head(15))
# 152.0    142

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
143.0    128
159.0    126
149.0    124
136.0    123
139.0    123
164.0    122
144.0    120
138.0    120
156.0    119
133.0    116
Name: count, dtype: int64

In [57]:
# fillna
# Replaces all NaN in column horsepower with 152.0
df_filled = df['horsepower'].fillna(152.0)
print(df_filled)

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [58]:
df_filled.head(4)

0    159.0
1     97.0
2     78.0
3    152.0
Name: horsepower, dtype: float64

In [60]:
df_filled.median()

np.float64(152.0)